.MissingInfoBox {
    max-width: 90%;
    margin: auto;
    padding: 5px;
    background-color: var(--ka-background-button-active-color, orange);
    color: var(--text-color);
    border: 1px solid var(--ka-border-button-active-color, orangered);
}