SetEnv SNOWFLAKE_MACHINE_ID 1

RewriteEngine On
RewriteBase /horaire/

RewriteRule ^(?:.*)/?\$api/?(.*)$ japi.php/$1 [L]
RewriteRule ^(?:.*)/?\$script/?(.*)$ script.php/$1 [R,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ store.php/$1 [L]

<IfModule mod_expires.c>
ExpiresActive on
ExpiresDefault "now"
</IfModule>

<IfModule mod_headers.c>
Header set Cache-Control "no-cache, no-store, must-revalidate"
</IfModule>
