#mainContent {
	display: flex;
}
#subContent {
	width: 170mm;
}
.dayBox div {
	display: inline-block;	
}
.dayBoxTotal { float: right; }
.dayBox {
	width: 100%;
	margin-top: 1mm;
	border-bottom: solid gray 1px;
}	
.dayBox span {
	width: 50mm;
	display: inline-block;
}
.dayBoxDate {
	width: 15mm !important;
	font-weight: bold;
	font-size: 0.8em;
}
.dayBoxWeekEnd, .weekEndBox {
	background-color: lightgray;
}
.dayBoxHoliday {
	background-color: lightgray;
}
.holiday {
	background-color: gray !important;
}
.weekDayHead .dayBoxDate {
	background-color: black;
	color: white;
	border: 1px solid black;
	text-align: center;
}
.weekDayHead {
	height: auto;
	min-height: 0;
}
.entryTime {
	cursor: pointer;
}
.totalDayTime {
	font-size: 0.8em;
	font-weight: bold;
	width: 10ch !important;
}
#entityContainer { width: 200px; }
th.title {
	font-weight: bold;
	font-size: 1.1em;
}
th.title a {
	font-size: 0.8em;	
}
td {
	font-style: italic;
	font-size: 1.1em;
	padding: 2px;
}

.person {
	margin-bottom: 12px;
}
.names {
	font-size: 1.2em;
}

.TimeSheetVerbose {
	display: inline-block;	
}

h3 {
	font-size: 1.2em;	
	border-bottom: 1px solid black;
	margin-bottom: 5mm;
}

.TimeSheetSummary div.TimeSheet span { font-weight: bold; }

@media print {
h2 { margin-top: 0; }
#entity { display: none; }
#entityContainer { display: none; }
.addForm { display: none; }
.dijitButtonNode { display: none; }
.dijitTextBox { border: none; width: 12ch; }
.dijitInputContainer { font-weight: bold; font-family: mono; }
.dijitSelect { border: none; }
.weekDayHead .dayBoxDate { background: none; color: black; }
 .dayBoxHoliday .dayBoxDate, .dayBoxWeekEnd .dayBoxDate { font-style: italic; }
.airTimeAddTime, .TimeSheetForms { display: none !important; }
.TimeSheetVerbose { display: none !important; }
}
