<div class="${baseClass}" data-dojo-attach-point="nRoot">
<div data-dojo-attach-point="nContent" class="light" data-dojo-type="dijit/layout/StackContainer" data-dojo-props="style: 'width: 100%; height: 100%'"></div>
<div data-dojo-attach-point="nToolLine" class="tools dark">
<div data-dojo-attach-point="nHome" data-dojo-type="horaire/Button" data-dojo-props=" name: 'Accueil', type: 'home'  "></div>
<div class="appname">KAAL © 2019 Etienne Bagnoud</div>
</div>
<div class="waiting"><i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i></div>
</div>
