<p class="${baseClass}">
<span class="${baseClass}Names ${baseClass}Firstname" data-dojo-type="dijit/InlineEditBox" data-dojo-props="editor:'dijit/form/TextBox'">${firstname}</span>&nbsp;<span class="${baseClass}Names ${baseClass}Lastname" data-dojo-type="dijit/InlineEditBox" data-dojo-props="editor:'dijit/form/TextBox'">${lastname}</span>
<br />
<span class="${baseClass}Times ${baseClass}Worktime">Taux d'activité : <span data-dojo-type="dijit/InlineEditBox" data-dojo-props="editor:'dijit/form/NumberTextBox'">${worktime}</span></span>&nbsp;<span class="${baseClass}Days ${baseClass}Vacations">Vacances : <span data-dojo-type="dijit/InlineEditBox" data-dojo-props="editor:'dijit/form/NumberTextBox'">${vacation}</span></span>
</p>
