.ka-help-anchor {
  display: inline-flex;
  align-items: center;
  cursor: help;
}

div.ka-help {
    position: absolute;
    width: 300px;
    border: 1px solid var(--ka-tooltip-border-color);
    padding: 4px 4px;
    font-size: 10pt;
    box-shadow: 5px 5px 5px 0px var(--ka-tooltip-shadow-color);
    border-radius: 10px;
    color: var(--ka-tooltip-fg-color);
    background-color: var(--ka-tooltip-bg-color);

}

div.ka-help h1 {
    display: block !important;
    font-size: 1em;
    font-weight: bold;
}
