.unfold {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.cm-formatting {
    color: gray !important;
    font-weight: lighter !important;
}
account-lines {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 3.6fr 0.3fr 0.2fr 0.3fr 0.3fr 100px;
    gap: 3px 0px;
    background-color: rgba(250, 250, 250, 1);
}
account-lines > div > * {
    background-color: white;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}


account-lines .account-line__placeholder {
    display: none;
}

account-lines .account-line__dragging > * {
    opacity: 1 !important;
}

account-lines.dnd-in-progress > div > * {
    opacity: 0.5;
}

account-lines > legend {
    display: block;
    grid-area: header;
}

account-lines > [data-used="false"] > * {
    opacity: 0.3;
}

account-lines > * > *[readonly] {
    background-color: #f0f0f0;
}


account-lines > div {
    display: contents;
}

account-lines > div.deleted > * {
    color: darkgray !important;
}

account-lines > div.deleted .account-line__remove {
    visibility: hidden;
}

account-lines .account-line__head > * {
    color: white;
    background-color: black;
    font-family: monospace;
    font-size: 1.2em;
    min-height: 2em;
    border: 1px solid white;
}

account-lines > div.related > * {
    background-color: lightslategrey;
}

account-lines .head-intermediate > * {
    font-size: 1em;
}

account-lines .relation {
    color: gray;
}

.account-line__actions {
    display: flex;
    justify-content: space-around;
}
.account-line_button {
    max-width: 4ch !important;
    min-width: 4ch !important;
    max-height: 6ex !important;
    min-height: 6ex !important;
    padding: 0;
    margin: 0;
}

.account-line__rendered-textarea {
    font-size: 12px;
}

account-summary {
    display: block;
    padding: 1rem;
    max-width: 40ch;
    margin-top: 4ex;
}

account-summary > legend {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 3px;
}

account-summary  input {
    display: inline-block;
    max-width: 6ch;
    min-width: 6ch;
}
account-summary > legend > span {
    text-align: right;
    font-family: monospace;
    display: inline-block;
}

account-summary .total {
    font-weight: bold;
    font-size: 1.4em;
}
.action-line {
    z-index: 9999;
    background-color: #007acc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    height: fit-content;
    display: flex;
    box-shadow: 0 0 1em black;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 2ch;
}

.breadcrumbs > div {
    display: flex;
    align-items: center;
    min-height: 4ex;
    padding: 0.5ex;
    cursor: pointer;
    font-family: 'Roboto Mono';
}

.breadcrumbs > div.spacer {
    margin: 0 1ch;
    cursor: default;
}

.breadcrumbs > div.current {
    background-color: #005f8b;
}

.breadcrumbs > div.available:hover {
    background-color: #00384f;
}

.breadcrumbs > div.loading {
    background-color: #00384f;
}

.vspacer {
    height: 6ex;
}

.tools {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 2ch;
}

.tools > button {
    min-height: 6ex !important;
    background-color: #0c835d !important;
    color: lightgray !important;
    border: 1px solid lightgray;
    border-right-color: gray;
    border-bottom-color: gray;
    padding: 0;
    margin-left: 1ch;
    cursor: pointer;
}

.tools > button:hover {
    color: white !important;
    border: 1px solid white !important;
    border-right-color: darkgray !important;
    border-bottom-color: darkgray !important;
}

.tools > button:active {
    background-color: #06422f !important;
    border: 1px solid white !important;
    border-left-color: gray !important;
    border-top-color: gray !important;

}

input, select {
    max-height: 4ex !important;
    min-height: 4ex !important;
    min-width: 12ch !important;
}

.ka-quote-list {
    display: flex;
    flex-direction: column;

}

.ka-quote-list .row {
    padding: 4px 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr;
}

.ka-quote-list .row[data-related] {
    margin-left: 1ex;
    padding-left: 1ex;
    border-left: 3px solid green;
}

.ka-quote-list .row:hover {
    cursor: pointer;
    background-color: var(--company-color-dark);
    color: var(--company-text-color);
}

.ka-quote-list .row.header {
    background-color: var(--company-color);
    color: var(--company-text-color);
    font-weight: bold;
}

.ka-quote-new {
    display: block;
    width: 100%;
}

.ka-quote-new label {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 10px;
}