:root {
    --ka-button-background-color: darkblue;
    --ka-button-color: white;
    --ka-button-blended-bg: lavender;

    --ka-background-button-color: #71a1dd;
    --ka-border-button-color: #405c80;
    --ka-text-button-color: black;

    --ka-background-button-active-color: #71a1ddcc;
    --ka-border-button-active-color: #405c80cc;
    --ka-text-button-active-color: black;

    --ka-text-default-font: 'B612', 'sans-serif';
    --ka-text-default-font: 'B612 Mono', 'monospace';
    --ka-text-button-font: 'Archivo Narrow', 'sans-serif';

    --rose: #71a1dd;
    --dark-rose: #405c80;
    --background-color: white;
    --title-background-color: black;
    --text-color: black;
    --title-text-color: white;
    --fg-color-on-dark: white;
    --input-background-color: #71a2dd50;
    --input-border-color: #405c8050;
    --input-background-color-error: hsla(340, 100%, 90%, 1);
    --default-highlight-color-base: 100, 100%, 40%;
    --highlight-bgcolor: hsla(133, 60%, 60%, 0.2);
    --input-modified-background: hsla(308, 100%, 50%, 0.2);
    --input-modified-border: hsla(308, 100%, 50%, 1);
    --input-disabled-background: hsla(0, 0%, 50%, 1);
    --input-disabled-border: hsla(308, 0%, 80%, 1);
    --k-input-border-color: var(--input-border-color);
    --k-input-bg-color: var(--input-background-color);
    --k-input-highlight-color: hsla(100, 100%, 40%, 0.2);
    --k-input-highlight-border-color: hsla(100, 100%, 40%, 0.4);
    --k-input-highlight-match-color: hsla(100, 100%, 40%, 0.4);
}