:root {
  --company-color: #cd789f;
  --company-color-dark: #8d4465;
  --company-color-light: #e7b8cc;

  --company-text-color: #ffffff;
  --company-text-color-on-light: #4d1d34;

  --ka-main-nav-separator-color: #d9b8c6;

  --ka-tooltip-fg-color: #fdfbfd;
  --ka-tooltip-bg-color: #2d1722;
  --ka-tooltip-shadow-color: rgba(45, 23, 34, 0.2);
  --ka-tooltip-border-color: #cd789f;

  --ka-navigation-item-selected-fg-color: #ffffff;
  --ka-navigation-item-selected-bg-color: #8d4465;
  --ka-navigation-item-unselected-fg-color: #f1dbe5;
  --ka-navigation-item-unselected-bg-color: #4d2338;
  --ka-navigation-item-hover-fg-color: #ffffff;
  --ka-navigation-item-hover-bg-color: #ab5d81;

  --ka-button-background-color: #4d2338;
  --ka-button-color: #ffffff;
  --ka-button-blended-bg: #faf5f7;

  --ka-background-button-color: #cd789f;
  --ka-background-button-color-hover: #df9ab8;

  --ka-input-readonly-bgcolor: #f1dbe5;

  --ka-border-button-color: var(--company-color-dark);
  --ka-text-button-color: #ffffff;
  --ka-text-alt-button-color: #cd789f;

  --ka-background-button-active-color: rgba(205, 120, 159, 0.15);
  --ka-border-button-active-color: #cd789f;
  --ka-text-button-active-color: #cd789f;

  --ka-text-default-font: 'Montserrat', 'B612', 'sans-serif';
  --ka-text-button-font: 'Archivo Narrow', 'sans-serif';

  --background-color: #faf5f7;
  --title-background-color: #4d2338;
  --text-color: #2d1722;
  --title-text-color: #ffffff;
  --fg-color-on-dark: #ffffff;
  --input-background-color: #ffffff;
  --input-border-color: #d9b8c6;
  --input-background-color-error: #ffebee;
  --default-highlight-color-base: 205, 120, 159;
  --highlight-bgcolor: rgba(205, 120, 159, 0.1);
  --input-modified-background: rgba(245, 158, 11, 0.1);
  --input-modified-border: #f59e0b;
  --input-disabled-background: #f1f5f9;
  --input-disabled-border: #e2e8f0;
  --k-input-border-color: var(--input-border-color);
  --k-input-bg-color: var(--input-background-color);
  --k-input-highlight-color: rgba(205, 120, 159, 0.05);
  --k-input-highlight-border-color: rgba(205, 120, 159, 0.2);
  --k-input-highlight-match-color: rgba(205, 120, 159, 0.3);
  --foreground-text-color: #2d1722;
  --backgroun-input-color: #ffffff;
}
