body {
  font-family: sans-serif;
}

td, th {
  min-width: 240px;
}

tr {
  height: 40px;
}
tr:nth-child(even) {
  background-color: lightgray;
}

tr[data-state=deleted] {
  font-style: italic;
  color: darkgray;
}

thead {
  background-color: black;
  color: white;
  height: 40px;
  font-weight: bolder;
  text-align: center;
}

input, select, textarea {
  border: 2px solid gray;
  margin: 5px;
  background-color: #FFFACD;
  padding: 5px;
}

input[type=submit], input[type=button], button {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid gray;
  margin: 5px;
  min-width: 120px;
  max-width: 120px;
  font-weight: bold;
}

main {
  display: flex;
	justify-content: center;
}
div.button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	width: 180px;
	min-height: 120px;
	max-height: 120px;
	background-color: black;
  margin: 5px;
}

div.button a {
	display: inline-block;
	color: white;
	font-weight: bold;
	font-family: sans-serif;

}
