.printbox, .calculated {
    padding: 0 0 0 2ch;
    font-size: 0.8em;
}

div.calculated {
    display: inline-block;
}

div.calculated span.tva::before {
    content: 'TVA: ';
}

div.calculated span.total::before {
    content: 'Total: ';
}

div.calculated.chf span.tva::after {
    content: ' CHF';
}

div.calculated.chf span.total::after {
    content: ' CHF';
}

div.calculated.eur span.tva::after {
    content: ' €';
}

div.calculated.eur span.total::after {
    content: ' €';
}

div.calculated.usd span.tva::after {
    content: ' $';
}

div.calculated.usd span.total::after {
    content: ' $';
}

div.calculated.gbp span.tva::after {
    content: ' £';
}

div.calculated.gbp span.total::after {
    content: ' £';
}

div.calculated.jpy span.tva::after {
    content: ' ¥';
}

div.calculated.jpy span.total::after {
    content: ' ¥';
}

.link.results {
    max-height: 16ex;
    overflow: auto;
}

.link.results span {
    display: inline-block;
    margin: 0 1ch 0 0;
}
div.link.results div {
    cursor: pointer;
}
.link.results div.selected {
    background-color: hsla(var(--default-highlight-color-base), 0.2);
}

.link.results div.head {
    font-weight: bold;
}

.link.results span.amount {
    min-width: 10ch;
    text-align: right;
}

.link.results span.reference {
    min-width: 20ch;
}

.link.results span.date {
    min-width: 10ch;
}

.link.results span.reference {
    min-width: 20ch;
}

.link.results span.type {
    min-width: 28ch;
}

.paiement {
    line-height: 2em;
    font-size: 1.2em;
}

.paiementListe form, .repartition form {
    margin-top: 1em;
    padding-top: 1em;
    background-color: rgb(245, 245, 245);
    border-top: 1px solid lightgray;

}

.repartition .header {
    font-weight: bold;
}

.repartition .field {
    display: inline-block;
    min-width: 12ch;
}

tr.late {
    color: hsla(0, 100%, 30%, 1);
    background-color: hsla(0, 100%, 90%, 1);
}

ul.inprogress {
    color: lightgray;
}

div.popup.import {
    max-height: 80%;
    overflow-y: auto;
    min-width: 480px;;
}

div.popup.import li.more {
    display: none;
}

.ka-bxfacture-list {
    display: grid;
    grid-template-columns: 400px 1fr 600px;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "selector selector selector" 
      "list preview action";
    min-width: 100%;
    min-height: 100vh;
}
.ka-bxfacture-list .selector {
    grid-area: selector;
}
.ka-bxfacture-list .preview {
    min-width: 50%;
    min-height: 100%;
    grid-area: preview;
} 

.ka-bxfacture-list .list {
    grid-area: list;
}
.ka-bxfacture-list .action {
    grid-area: action;
}

.ka-bxfacture-list .preview iframe {
    width: 100%;
    height: 100%;
}

.paiement .ka-button[data-open="1"].level1 {
    background-color: yellow !important;
}

.paiement .ka-button[data-open="1"].level2 {
    background-color: orange !important;
}

.paiement .ka-button[data-open="1"].level3 {
    background-color: red !important;
}

.billItem.selected {
    border: 2px solid blue;
    font-weight: bold;
}

.billItem {
    border: 2px solid transparent;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    order: 4;
    max-height: 8ex;
    min-height: 8ex;
    overflow-y: hidden;
    margin: 2px 0;
}

.billItem.header {
    background-color: black;
    color: white;
    font-weight: bold;
    order: 0;
}

.billItem.level1 {
    order: 3;
    background-color: yellow;
}
.billItem.level2 {
    order: 2;
    background-color: orange;
}
.billItem.level3 {
    order: 1;
    background-color: red;
    color: white;
}

.billItem span.floating {
    text-align: right;
}

.billItem span {
    padding: 0 0.5ch;
}

.ka-bxfacture-list .list {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.ka-bxfacture-list input[name="reference"] {
    width: 35ch;
}

.ka-fieldset .repartition input {
    min-width: unset;
}

.ka-fieldset .repartition .tva {
    max-width: 5ch;
    min-width: 5ch;
}

.ka-fieldset .repartition .value {
    max-width: 10ch;
    min-width: 10ch;
}


