.codebox {
    border: 3px dashed var(--ka-border-button-color);
    width: 100%;
    height: 90px;
    opacity: 0.3;
    text-align: center;
    display: table;
    vertical-align: middle;
}

.codebox:focus {
    opacity: 1;
}

.codebox.bvr .bvr {
    color: var(--input-background-color-error);
}

.codebox.qrcode .qrcode {
    color: var(--input-background-color-error);
}