@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');

#KAALGeneralMessageBox {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
}

#KAALGeneralMessageBox:empty {
    display: none;
}

#KAALGeneralMessageBox .message {
    min-width: calc(100% - 12px);
    font-size: 14px;
    display: block;
    border: 2px solid transparent;
    margin: 2px;
    font-family: 'B612', sans-serif;
    padding: 2px;
}

#KAALGeneralMessageBox .message.error {
    border-color: var(--input-background-color-error);
    background-color: var(--input-background-color-error);
    color: var(--text-color);
}

#KAALGeneralMessageBox .message.info {
    border-color: var(--company-color);
    background-color: var(--input-background-color);
    color: var(--text-color);
}

#KAALGeneralMessageBox .message.transaction {
    border-color: var(--ka-button-background-color);
    background-color: var(--ka-button-blended-bg);
    color: var(--text-color);
}

#KAALGeneralMessageBox .message.warning {
    border-color: var(--ka-border-button-active-color);
    background-color: var(--ka-background-button-active-color);
    color: var(--text-color);
}