@import url('https://fonts.googleapis.com/css?family=B612|B612+Mono&display=swap');

:root {
    --kaal-line-height: 80px;
}

body {
    height: 100%;
}
#rightPane {
    width: 78%;
    float: right;
    position: absolute;
    top: 0;
    left: 22%;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;    
    margin-top: var(--kaal-line-height);
}

#leftPane {
    width: 21%;
    float: left;
    display: block;
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#PBar {
    height: 68px;
    width: 100%;
}

.usedTime {
    background-color: lightsteelblue;
    color: blue;
    font-weight: bold;
    position: relative; 
    height: 14px;
    max-width: 6ch;
    overflow: hidden;
    text-align: right;
    font-size: 12px;
    left: calc(100% - 6ch);
    top: calc(100% - 14px);
}

#planingHeader {
    position: fixed;
    width: 78%;
    top: 0;
    background-color: white;
}

.line {
    width: 100%;
    height: var(--kaal-line-height);
    margin: 0 0 0 0;
}

.line .box {
    display: inline-block;
    height: calc(100% - 4px);
    overflow: hidden;
    border-bottom: 1px solid black;
}

.box {
    width: var(--box-size) !important;
}

.light0 {
    background-color: lightcoral !important;
}


.light1 {
    background-color: lightpink !important;
}

.light2 {
    background-color: violet !important;
}

.light3 {
    background-color: lightgoldenrodyellow !important;
}

.lowlight {
    background-color: green !important;
}

.highlight {
    background-color: lightgreen !important;
}

.line .box.day {
    border-left: 1px dotted black;
}

*[data-dragging] {
    opacity: 0.5;
}
.line .weekend {
    background-color: lightgray;
}

.travailMark {
    background-color: lightcyan;
    border: 2px solid black;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: calc(100%-4px);
    font-family: 'B612', sans-serif;
    font-size: 8pt;
}

.travail {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    font-family: "B612", sans-serif;
    width: calc(100% - 20px);
    height: 58px;
    margin: 0 0 1ex 0;
    padding: 0.5ex 0 0.5ex 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.travail .reference {
    display: block;
    font-weight: bold;
}

.travail .description {
    display: inline-block;
    margin-left: 2ch;
}

.travail .close {
    display: none;
}

.travail.selected .close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 22px;
    text-align: center;
    color: white;
    background-color: #2a4e83;
    font-size: 14px;
    text-align: center;
}

.travail .close i {
    font-family: "FontAwesome";
    font-style: normal;
}
.travail.selected .close:hover {
    background-color: #e81123;
}

.travail .details {
    font-family: "B612 Mono", monospace;
    font-size: 0.9em;
}

.travail .details .label:after {
    content: ' : ';
}

.travail.selected {
    height: auto;
    min-height: 120px;
    border: 3px solid #2a4e83;
    background-color: #cce8ff;
}

#planingHeader {
    cursor: grab;
}

#rightPane.moveleft #planingHeader, #rightPane.moveright #planingHeader {
    cursor: grabbing;
}

#rightPane.moveleft #planingHeader .box:first-child {
    background-color: white;
    background: linear-gradient(90deg, rgba(255,0,0,0.4) 0%, white 50%);
}

#rightPane.moveright #planingHeader .box:last-child {
    background-color: white;
    background: linear-gradient(90deg, white 50%, rgba(255,0,0,0.4) 100%);
}
#rightPane.moveright #planingHeader .box.weekend:last-child {
    background-color: lightgray;
    background: linear-gradient(90deg, lightgray 0%, lightgray 50%, rgba(255,0,0,0.4) 100%);
}